<!-- projekctred -->
.{
 box-sizing: border-box;
}
.container {
 width: 800px;
 margin: auto;
 padding: 0 1rem;
}
.row {
 margin: 0.4rem 0;
 }
.row:after {
 clear: both;
 display: table;
 content:"";
}


/* .col-3 {width: 24.5%} */
/* .col-6 {width: 48.5%} */
.baltos-raides{color:white;}

.font-suo14px{font-family: 'Libre Baskerville', serif; font-size:0.875rem} <!--  headeryje  -->
.font-sintony14px{font-family: 'Sintony', sans-serif; font-size:0.875rem}
.fontas32 {font-size: 32px;}

 .galva { height: 630px; /* max-width: 800px;   aukstis parinktas paga paviekdlsiukosantyk5 640:1440*/
   background-image: url(BG_Image.jpg),linear-gradient(rgb(255,206,170),rgb(255,206,170));

  background-repeat: no-repeat,no-repeat;
  background-size: cover,cover;
  background-position: center,center;
}
.ABOUT-US {  <!-- nav. meniu punktams  -->
  width: 70px;
  height: 12px;
  font-family: 'Sintony', sans-serif;
  font-size: 14px;
  font-weight: bold;

  letter-spacing: 0.4px;
  text-align: right;
  color: #ffffff;
}
.Premium-Quality { <!-- tekstas įzangoje  -->

  font-family: 'Libre Baskerville', serif;
  font-size: 48px;
  font-weight: normal;

  letter-spacing: 0px;
  text-align: center;
  color: #ffffff;
}

.SINCE-1978 {
  width: 119px;
  height: 18px;
  font-family: 'Libre Baskerville', serif;
  font-size: 20px;
  font-weight: normal;
  font-style: italic;

  text-align: center;
  color: #ffffff;
}
/*  del skaidriu */
.font36px{font-size: 36px;}
.font20px {font-size: 20px;}
.skaidres{ height: 385px; background:#f1f1f1;  width: 100%}
.flex_display {display:flex;  }
.centras{align-items: center; height: 120px}
.nuo-kaires10px {padding-left: 20px}
.MultiCarousel { float: left; overflow: hidden; padding: 35px; width: 100%; position:relative;left: 0; right: 0; margin-top: auto; } /*bivp 15px 100proc width */
    .MultiCarousel .MultiCarousel-inner { transition: 1s ease all; float: left; }
        .MultiCarousel .MultiCarousel-inner .item { float: left;}
        .MultiCarousel .MultiCarousel-inner .item > div { text-align: center; padding:10px; margin:10px; background:#f1f1f1; color:#666;}
    .MultiCarousel .leftLst, .MultiCarousel .rightLst { position:absolute; border-radius:50%;top:calc(50% - 20px); }
    .MultiCarousel .leftLst { left:0; }
    .MultiCarousel .rightLst { right:0; }

        .MultiCarousel .leftLst.over, .MultiCarousel .rightLst.over { pointer-events: none; background:white; }
        .FOLLOW-US-ON-INSTAGR {
  /* width: 208px; */
  /* height: 13px; */
  font-family:  'Sintony', sans-serif;
  font-size: 16px;

  line-height: 1.25;
  letter-spacing: normal;
  text-align: left;
  color: #333333;
}
/* pabaiga dels skaidriu */

/*  komandos paveiksliukai*/
.komanda  { height: 180px;
}
.apvalus {border-radius: 50%}
.veidai {height: 312px;}
.pavardes {height: 55px;}
.nuo-kaires50px {padding-left: 50px}
.nuo-kaires67px {padding-left: 67px}
.nuo-kaires-54xpx {padding-left: 48px;}
.nuo-kaires-130px {padding-left: 130px; margin-top: 10px;}
.nuo-kaires-131px {padding-left: 95px; margin-top: 10px;}
.nuo-kaires-129px {padding-left: 92px; margin-top: 10px;}
.nuo-kaires-84px {padding-left: 84px; margin-top: 10px;}
.nuo-kaires-86px {padding-left: 42px; margin-top: 10px;}
.nuo-kaires-55xpx {padding-left: 147px}
.nuo-kaires-60xpx {padding-left: 86px}

.nuo-kaires110px {padding-left: 108px}
.nuo-kairespx {padding-left: 95px}
.nuo-kaires130px {padding-left: 130px; margin-top: -10px;  }
.nuo-kaires13Zpx {padding-left: 107px; margin-top: -10px;  }
.nuo-kaires162px {padding-left: 162px; margin-top: -16px;  }
.nuo-kaires144xpx {padding-left: 144px; margin-top: -16px;  }

.nuo-kaires155px {padding-left: 155px; margin-top: -16px;  }
.nuo-kaires136xpx {padding-left: 136px; margin-top: -16px;  }
.nuo-kaires170px {padding-left: 170px; margin-top: -14px;  }
.nuo-kaires143px {padding-left: 143px; margin-top: -14px; }
.nuo-kaires149px {padding-left: 149px; margin-top: -14px; }
.nuo-kaires111px {padding-left: 135px; margin-top: -14px;}
.nuo-kaires96xpx {padding-left: 126px; margin-top: -14px;}
  .nuo-kaires240px {padding-left: 321px; margin-top: -45px}
  .nuo-kaires165px {padding-left: 210px; margin-top: -159px}
    .nuo-kaires240px {padding-left: 320px; }
  .nuo-kairespx {padding-left: 160px; margin-top: -25px; margin-right: -10px} <!--169 kontact imput formos pozicijai  bov 100 ir 8-->
.nuo-kaires159px {padding-left: 159px; margin-top: -17px}
.nuo-kaires150px {padding-left: 150px; margin-top: -17px}
.nuo-kaires144px {padding-left: 144px; margin-top: -17px}
.nuo-kaires108ypx {padding-left: 125px; margin-top: -17px}
.nuo-kaires127xpx {padding-left: 127px; margin-top: -17px}
.nuo-kaires134px {padding-left: 134px; margin-top: -17px}

.nuo-kaires92ypx {padding-left: 92px; margin-top: -17px}
.nuo-kaires54xpx {padding-left: 60px; margin-top: -17px}
.nuo-kaires65xpx {padding-left: 82px; margin-top: -17px}
.nuo-kaires110px {padding-left: 110px; margin-top: -17px}
.nuo-kaires1xpx {padding-left: 70px; margin-top: -17px}
.nuo-kaires121px {padding-left: 121px; margin-top: -17px}
.nuo-kaires85xpx {padding-left: 106px; margin-top: -17px}
.nuo-kaires73xpx {padding-left: 73px; margin-top: -17px}
.nuo-kaires22px {padding-left: 22px; margin-top: -17px}
.nuo-kaires22xpx {padding-left: 17px; margin-top: -17px}
.nuo-kaires26px{padding-left: 26px}
.karusele-nuo-kaires4 {padding-left: 32px}
/* .nuo-kaires80px{padding-left: 80px} */
.nuo-kaires146px {padding-left: 146px; margin-top: -36px}
.nuo-virsaus8px {padding-top: 8px}
.nuo-virsaus40px {padding-top: 40px}
.margin-2top {  margin-top: -2px}
.margin-xtop {margin-top: -3px}
    /* .marginYtop {  padding-button: 6px; !important} */

.margin-132top {  margin-top: -139px; padding-right: 62px; display: float;}
.marginxright {margin-right: 140px; }   <!--   buvo 100 -->
.marginxright-70 {margin-right: 70px; }  <!--  buv 55px -->
.margin-5top {  margin-top: -10px ; padding-left:55px;  }     <!--  buv -10px -->
.margin-xtop {  margin-top: -31px ; }
.input-size{
  height: 260px;  /* The maps height is 260 pixels */
  width: 800px;  /* The width */
 }
.Meet-Our-Team {
   font-family: 'Libre Baskerville', serif;
  font-size: 36px;
   line-height: normal;
  letter-spacing: 0px;
  text-align: center;
  color: #333333;
}
    .Contact-Us {
       font-family: 'Libre Baskerville', serif;
      font-size: 36px;
       letter-spacing: 0px;
      text-align: center;
      color: #ffffff;
    }

.Contact-Section {
  height: 500px;
  background-color: #c53163;
}

  .Contact-pabrauk {
     /* font-family: 'Sintony', serif; */
    font-size: 36px;
     letter-spacing: 0px;
    text-align: center;
    color: #ffffff;
  }


.fonas-bordo {background-color: #c53163;}
.blokas{
  display: block;
  width: 100%;height: 45px;
  border: none;
  background-color: black;
  padding: 0px 0px 0px 45px;
  color: white;
  cursor: pointer;
  text-align: center;
  font-family: 'Libre Baskerville', serif;
  font-size: 20px;
  font-weight: bold;
}
.blokas-papildomas{
  display: block;
  width: 45%;height: 45px;
  border: none;
  background-color: black;
  padding: 0px 0px 0px 45px;
  font-size: 24px;
  color: white;
  text-align: center;
}
.Full-Name {
   font-family: 'Libre Baskerville', serif;
  font-size: 18px;
 }
 .Avenue {
color: white;
  font-family: 'Libre Baskerville', serif;
  font-size: 14px;
  font-style: italic;
  line-height: 1.65;
  letter-spacing: 0.5px;
  text-align: right;
}
.Dennis-Kim-aprasas {
   font-family: 'Libre Baskerville', serif;
  font-size: 14px;
  font-weight: 400;
   font-style: italic;
   line-height: 1.71;
  letter-spacing: 0.1px;
  /* text-align: center; */
  color: lightgrey;
  margin-top: -8px;
}
.Dennis-Kim {
  font-family: 'Libre Baskerville', serif ;
  font-size: 18px  ;
  font-weight: 700  ;
   letter-spacing: 0.1px;
  text-align: center;
}
.margin-35top {  margin-top: -35px; letter-spacing: 0px !important;}
.margin-l29 {margin-left: -29px}
.margin-l20 {margin-left: -5px}
.margin-l15 {margin-left: -15px}
.margin-t {margin-top: -8px}
.row-no-margin {margin: 0.0rem 0;}
.juodos-raides {color:black;}
.juodas-fonas {background-color: black;}
.baltas-fonas {background-color: white; }
.fonas-bordo { background-color: #c53163; border-radius: 60%; background-size: cover }

.bordo-raides {color: #c53163;}
.footer {height: 180px;  background-color:black;}

 /* .kontaktai-sulygiuoti {display: float; float-direction: column} */
  /* .input {padding: 6px} */
